//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.sign-out {
    float: right;
}

.x-govuk-primary-navigation__list {
    left: 0;
    padding: 0;
  }
  
  .x-govuk-primary-navigation__item {
    padding: 0 0;
    margin-right: govuk-spacing(4);
  }