{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" >Acme org Ltd.</h1>
    <h3 class="govuk-heading-s" >Organisation type<br>
       <p>Direct producer</p></h3>
       <h3 class="govuk-heading-s">Organisation ID<br>
        <p>213 146</p></h3>
   <h3 class="govuk-heading-s">Registered address<br>
        <p>101 High Street 
Big City
Randomshire 
A12 3BC</p></h3>
        <h3 class="govuk-heading-s">Companies House Number<br>
          <p>08519077<br>  <a href="#" class="govuk-link govuk-link--no-visited-state">View on  Companies House register</a></p></h3>

        <h3 class="govuk-heading-s">Approved person</h3>
        <br>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper" >
        <h2 class="govuk-summary-card__title">Sally Smith </h2>

<ul class="govuk-summary-card__actions" style= "float: right">      
        <li class="govuk-summary-card__action"> <a class="govuk-link" href="remove-AP.html">          
    Remove<span class="govuk-visually-hidden"> Remove</span> </a> </li></ul>
        
     
       
      </div>

      <div class="govuk-summary-card__content" style="padding-bottom: 0px;">

        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
       
          
      <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Company role</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Director
            </dd>
           </div>
               <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Telephone</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              0121 211 2234
            </dd>
           </div>
  <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Email</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              sally.smith@email.com
            </dd>
           </div> <div class="govuk-summary-list__row">
           </div>
</div></div>

<h3 class="govuk-heading-s">Delegated persons</h3>
<br>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
    <h2 class="govuk-summary-card__title">Adam Jones</h2> 
 
   <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> 
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content" style="padding-bottom: 0px;">

    <dl class="govuk-summary-list govuk-!-margin-bottom-4">
   
      
  <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Telephone</strong>
        </dd>
        <dd class="govuk-summary-list__value">
          0121-211-2233
        </dd>
       </div>
           <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Email</strong>
        </dd>
        <dd class="govuk-summary-list__value">
          adam.jones@email.com
        </dd>
       </div>
<div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Employee in the organisation</strong>
        </dd>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
       </div> 
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <strong>Job title</strong>
          </dd>
          <dd class="govuk-summary-list__value">
            Ecosurety Consultant
          </dd>
         </div>
         </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
    <h2 class="govuk-summary-card__title">Kate Preston</h2> 
 
   <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> 
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content" style="padding-bottom: 0px;">

    <dl class="govuk-summary-list govuk-!-margin-bottom-4">
   
      
  <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Telephone</strong>
        </dd>
        <dd class="govuk-summary-list__value">
          0121-272-8328
        </dd>
       </div>
           <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Email</strong>
        </dd>
        <dd class="govuk-summary-list__value">
          kate.preston@email.com
        </dd>
       </div>
<div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Employee in the organisation</strong>
        </dd>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
       </div> 
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <strong>Job title</strong>
          </dd>
          <dd class="govuk-summary-list__value">
            Ecosurety Consultant
          </dd>
         </div>
         </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
    <h2 class="govuk-summary-card__title">Kate Preston</h2> 
 
   <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> 
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content" style="padding-bottom: 0px;">

    <dl class="govuk-summary-list govuk-!-margin-bottom-4">
   
      
  <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Telephone</strong>
        </dd>
        <dd class="govuk-summary-list__value">
          0121-782-9012
        </dd>
       </div>
           <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Email</strong>
        </dd>
        <dd class="govuk-summary-list__value">
          kate.preston12@email.com
        </dd>
       </div>
<div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <strong>Employee in the organisation</strong>
        </dd>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
       </div> 
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <strong>Job title</strong>
          </dd>
          <dd class="govuk-summary-list__value">
            Ecosurety Consultant
          </dd>
         </div>
         </div>
</div>

</div>

{% endblock %}
